Repository Dimdim28/LMStats: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

.lintstagedrc.yml:

'src/**/*.scss': npx stylelint *.scss --fix
'src/**/*.{ts,tsx}': npx eslint *.{ts,tsx} --fix
'src/**/*.{ts,tsx,json,md,scss,html,yml}': prettier --write *.{ts,tsx,json,md,scss,html,yml}

docs: removed duplicated line
  README.md
Due: none

feat: rows validation
  src/constants/index.tsx
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.module.scss
  src/helpers/excelNumToDate.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: used loops instead of forEach
  src/containers/uploadFile/uploadFile.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: validateColumns
  src/constants/index.tsx
  src/containers/uploadFile/uploadFile.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

chore: add i18n deps
  package-lock.json
  package.json
Due: none

feat: add basic language context
  src/context/language.tsx
  src/main.tsx
  src/types/language.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add en-ru localisation
  src/App.tsx
  src/components/searchUser/searchUser.tsx
  src/containers/guildStats/guildStats.tsx
  src/containers/header/header.tsx
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
  src/context/languageContext.tsx
  src/enums/language.ts
  src/languages/EN.ts
  src/languages/RU.ts
  src/languages/index.ts
  src/main.tsx
  src/types/language.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

refactor: add i18n enum
  src/components/searchUser/searchUser.tsx
  src/containers/guildStats/guildStats.tsx
  src/containers/header/header.tsx
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
  src/enums/i18n-text.ts
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add more localisation words
  src/containers/userStats/userStats.tsx
  src/enums/i18n-text.ts
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add new header and language toggle
  src/App.tsx
  src/assets/Frame 3.svg
  src/components/info-icon/infoIcon.module.scss
  src/components/info-icon/infoIcon.tsx
  src/components/language-toggler/languageToggler.module.scss
  src/components/language-toggler/languageToggler.tsx
  src/containers/header/header.module.scss
  src/containers/header/header.tsx
  src/context/languageContext.tsx
  src/enums/i18n-text.ts
  src/enums/storage.ts
  src/helpers/initLanguage.ts
  src/helpers/setLanguage.ts
  src/languages/EN.ts
  src/languages/RU.ts
  src/styles/_variables.scss
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

refactor: disable a11y rules
  .eslintrc.cjs
  src/App.tsx
  src/components/language-toggler/languageToggler.tsx
  src/containers/header/header.module.scss
  src/containers/header/header.tsx
  src/containers/uploadFile/uploadFile.tsx
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: svg info icon
  src/assets/Frame 3.svg
  src/components/info-icon/infoIcon.module.scss
  src/components/info-icon/infoIcon.tsx
  src/components/language-toggler/languageToggler.module.scss
  src/styles/_variables.scss
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add google analytics
  index.html
Due: none

fix: copy button text
  src/containers/guildStats/guildStats.tsx
  src/enums/i18n-text.ts
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: header height and paddings
  src/containers/header/header.module.scss
Due: npx stylelint *.scss --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add cross icon and ifno page html markup
  src/App.tsx
  src/components/crossIcon/crossIcon.module.scss
  src/components/crossIcon/crossIcon.tsx
  src/constants/index.tsx
  src/containers/header/header.tsx
  src/containers/info/info.tsx
  src/types/infoData.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add styles to info page
  src/App.tsx
  src/containers/info/info.module.scss
  src/containers/info/info.tsx
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add translation to info page
  src/App.tsx
  src/enums/i18n-text.ts
  src/hooks/useInfoPageData.ts
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

refactor: in18 ru and en keys
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: scroll, hover and link redirection
  src/containers/info/info.module.scss
  src/languages/EN.ts
  src/languages/RU.ts
  src/styles/_common.scss
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: fonts and styles
  src/components/checkbox/checkbox.module.scss
  src/components/line/line.module.scss
  src/components/title/title.tsx
  src/components/userLine/userLine.module.scss
  src/containers/header/header.module.scss
  src/containers/header/header.tsx
  src/containers/info/info.module.scss
  src/styles/_fonts.scss
  src/styles/_nullstyle.scss
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: language bug
  src/App.tsx
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: info page text
  src/languages/RU.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

style: make user stats page more responsive
  src/components/line/line.module.scss
  src/components/title/title.module.scss
  src/containers/userStats/userStats.module.scss
Due: npx stylelint *.scss --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: load fonts async
  index.html
  src/styles/index.scss
Due: npx stylelint *.scss --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: use lazy loading
  src/App.tsx
  src/containers/guildStats/guildStats.tsx
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: solve imports
  src/containers/index.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: solve i18next imports
  src/App.tsx
  tsconfig.tsbuildinfo
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add custom preloader
  src/App.tsx
  src/components/Preloader/preloader.module.scss
  src/components/Preloader/preloader.tsx
  src/components/index.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

test: remove lazy
  src/App.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: create function to convert table to first type
  src/containers/uploadFile/uploadFile.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add more screens
  src/constants/index.tsx
  src/containers/uploadFile/uploadFile.module.scss
  src/containers/uploadFile/uploadFile.tsx
  src/enums/i18n-text.ts
  src/helpers/fixColumnNames.ts
  src/languages/EN.ts
  src/languages/RU.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

feat: add ability to choose colomn names
  src/App.tsx
  src/components/userLine/userLine.tsx
  src/constants/index.tsx
  src/containers/guildStats/guildStats.tsx
  src/containers/uploadFile/uploadFile.module.scss
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
  src/helpers/filterUsers.ts
  src/helpers/fixColumnNames.ts
  src/helpers/getStatValue.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: rewrite guild users sorting
  src/containers/guildStats/guildStats.tsx
  src/helpers/sortUsers.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: update initial columnNames state
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: round percentage values
  src/App.tsx
  src/containers/guildStats/guildStats.tsx
  src/containers/uploadFile/uploadFile.tsx
  src/containers/userStats/userStats.tsx
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: improve titles for previous excel format
  src/containers/uploadFile/uploadFile.tsx
  src/helpers/getFailedUsersList.ts
Due: npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}

fix: pages layout, id and line styles
  src/containers/uploadFile/uploadFile.module.scss
  src/containers/uploadFile/uploadFile.tsx
  src/helpers/deleteEmptyExelUserFields.ts
Due: npx stylelint *.scss --fix, npx eslint *.{ts,tsx} --fix, prettier --write *.{ts,tsx,json,md,scss,html,yml}
